{% extends "layouts/base.html" %}

{% block title %} Leaflet Maps {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
{% endblock stylesheets %}


{% block content %}

    <div class="container-fluid">
        <h4 class="c-grey-900 mT-10 mB-30">Leaflet Maps</h4>
        <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h6 class="c-grey-900 mB-20">Leaflet Maps</h6>
            <div id="mapid" style="padding-bottom: 75%; height: 180px;"></div>
            </div>
        </div>
        </div>
    </div>
    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin="">
</script>
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

{{ mydata|json_script:"mydata" }}
{{ reddata|json_script:"reddata" }}
{{ greendata|json_script:"greendata" }}
{{ traildata|json_script:"traildata" }}

<script>

</script>   

{% load static %}
<script src="{% static 'app/stow.js' %}"></script>

{% endblock javascripts %}
