{% extends "layouts/base.html" %}

{% block title %} Leaflet Maps {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
{% endblock stylesheets %}


{% block content %}

    <div class="container-fluid">
        <h4 class="c-grey-900 mT-10 mB-30">Leaflet Maps</h4>
        <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h6 class="c-grey-900 mB-20">Leaflet Maps</h6>
            <div id="mapid" style="padding-bottom: 75%; height: 180px;"></div>
            </div>
        </div>
        </div>
    </div>
    <video
        id="my-video"
        class="video-js"
        controls
        preload="auto"
        width="640"
        height="264"
        poster="MY_VIDEO_POSTER.jpg"
        data-setup="{}"
    >
        <source src="file://home/roald/stillOnWheels/H8-GPSvsTime/010_rawdata/GH013372.MP4" type="video/mp4" />
        <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
        >
        </p>
    </video>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin="">
</script>
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

{{ mydata|json_script:"mydata" }}
{{ reddata|json_script:"reddata" }}

<script>
    var mymap = L.map('mapid').setView([60.53, 5.14], 13);
    
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoicmtsZWl2ZWwiLCJhIjoiY2ttbjdtNzhkMGV1cDJucGVkbWptZW40ciJ9.wy0hOi5vNPZKbembRjqI0g'
    }).addTo(mymap);
    
    //var marker1 = L.marker([60.53, 5.14]).addTo(mymap);
    //var marker2 = L.marker([60.54, 5.15]).addTo(mymap);
    const mydata = JSON.parse(document.getElementById('mydata').textContent);
    const reddata = JSON.parse(document.getElementById('reddata').textContent);
    //var pinStart = Array()
    //var pinEnd = Array()
    var pinLocation = Array()
    var redCircle = Array()
    function setMarker(item, index) {
        //pin[index] = L.marker([item.lat, item.lon]).addTo(mymap).bindPopup(item.file_name);
        pinLocation[index] = L.circle([item.tagLocationLat, item.tagLocationLon], {color: 'blue', radius: 25}).addTo(mymap).bindTooltip(item.fileName + "<br>" +item.mtimeStr + "<br>"  + item.localTimeStr + "<br>" + item.vidLengthStr);
        //pinLocation[index] = L.marker([item.tagLocationLat, item.tagLocationLon]).addTo(mymap).bindPopup(item.fileName + "<br>" + item.localTimeStr);
        //pinEnd[index] = L.circle([item.lastGoodGPSLat, item.lastGoodGPSLon], {color: 'red', radius: 15}).addTo(mymap).bindPopup(item.name);
        //pin2[index] = L.circle([JSON.parse(item["tagLocation"])["lat"], JSON.parse(item["tagLocation"])["lon"]], {color: 'blue', radius: 20}).addTo(mymap).bindPopup(item.file_name);
    }
    function setRedMarker(item, index) {
        redCircle[index] = L.circle([item.tagLocationLat, item.tagLocationLon], {color: 'red', radius: 25}).addTo(mymap).bindTooltip(item.fileName + "<br>" + item.mtimeStr + "<br>" + item.localTimeStr + "<br>" + item.vidLengthStr);
    }
    mydata.forEach(setMarker);
    reddata.forEach(setRedMarker);

    //var marker3 = L.marker([mydata.lat, mydata.lon]).addTo(mymap).bindPopup("GH010345");
</script>   
    

{% endblock javascripts %}
